*{
    box-sizing: border-box;
    
}

body{
    background-color: black;
    text-align: center;
}

.heading{
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.download-link{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;

}

.download-link:hover{
    cursor:pointer;
}

.sub-heading{
    text-align:center;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.excursion-desc{
    color: gray;
    font-size: 21px;
    font-family: Verdana;
}

footer{
    text-align: right;
    color: gray;
    font-size: 21px;
}